.main {
    width: 1401px;
    height: 420px;
    margin: auto;
}


.services {
    width: 900px;
    font-family: 'Montserrat', sans-serif;
 text-align: center;
 margin: auto;
 padding: 0rem;
margin: 0 auto;
text-align: center
}

.services_title {
    font-family: 'Kaushan Script', cursive;
 font-size: 24px;
 font-weight: 400;
 margin-bottom: 22px;
 color: rgba(119, 119, 119, 255);
text-align: center;
}

.services_main_title {
    font-family: 'Montserrat', sans-serif;
    color: rgba(34, 34, 34, 255);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 64px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 127px;
    margin-bottom: 19px;
}


.team_wrapper {
   
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 115px;
  text-align: center;
    }
    
    .team_card {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto 50px;
    }
    
    .team_img {
    width: 100px;
    height: 100px;
    border-radius: 46%;
    border: 3px solid gold;
padding: 16px 13px 16px 14px;
    }

    .tittle {
        margin-top: 27px;
font-family: 'Kaushan Script', cursive;
font-family: 'Roboto Slab', serif;
text-align: center;
font-size: 18px;
margin-bottom: 15px;

    }

    .text {
font-family: 'Kaushan Script', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;
color: #777777;
width: 274px;
height: 57px;
text-align: center;


    }
   
