.main {
    max-width: 1400px;
    height: 500px;
    margin-bottom: 100px;
}


.Services {
    width: 900px;
    font-family: 'Montserrat', sans-serif;



margin: 0 auto;
text-align: center
}

.services_title {
    font-family: 'Kaushan Script', cursive;
 font-size: 24px;
 font-weight: 400;
 margin-bottom: 22px;
 color: rgba(119, 119, 119, 255);
text-align: center;
}

.services_main_title {
    font-family: 'Montserrat', sans-serif;
    color: rgba(34, 34, 34, 255);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 64px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 127px;
    margin-bottom: 19px;
}


.team_wrapper {
   
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 115px;
 
  align-items: center;
    }
    
    .team_card {
    width: 200px;
    height: 200px;
    margin: 0 auto 50px;
  
    
    }
    

    .img_wrapper {
display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid #fed136 ;
    position: relative;
    left: 68%;
    /* top: -60px; */
    transform: translate(-50%, 0);
    }

    .tittle {
        margin-top: 27px;
font-family: 'Kaushan Script', cursive;
font-family: 'Roboto Slab', serif;
text-align: right;
font-size: 18px;
margin-bottom: 15px;

    }

    .p {
font-family: 'Kaushan Script', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;
color: #777777;
width: 300px;
height: 57px;
text-align: center;

    }
   
    /* .Contact_us {
        padding-top: 110px;
        font-family: 'Montserrat', sans-serif;
        color: #FFFFFF;
        font-size: 30px;
        font-weight: 700;
        margin: auto;
        text-transform: uppercase;
        text-align: center;
        margin-top: 120px;
        }

        .pod_tittle {

            font-family: 'Kaushan Script', cursive;
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 75px;
            color: #777777;
            text-align: center;
            margin: auto;
            } */