.header {
    font-family: 'Montserrat', sans-serif;
position: fixed;
 align-items: center;
 width: 1163px;
 text-align: center;
 margin: auto;
 margin-top: 28px;
 margin-bottom: 100px;
}

.menu {
    max-width: 800px;
    margin: auto;
}

.logo {
    font-weight: 700;
    font-size: 30px;
    color: #95E1D3;
}

.menu_list {
    width: 500px;
    position: fixed;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 200;
   
}


.menu_item {
    display: inline-block;
    position: relative;
    margin-right: 40px;
    text-transform: uppercase;
    background-color: rgb(255, 255, 128);
}




.menu_item > a:hover
.sub_menu_item > a:hover {
   
    background-color: rgb(83, 175, 250);
}


.sub_menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(59, 194, 126);
    
    display: none;}


.menu_item_link {
    text-transform: uppercase;
    color: #95E1D3;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 4px solid transparent;
}

.menu_item_link:hover {
    color:#F38181;
  padding-bottom: 11px;
  border-bottom:4px solid transparent ;
}

.menu_item:hover > .sub_menu {
    display: block;
}



