.section-meet {
    text-align: center;
    margin: auto;
}


.meet {
text-align: center;
margin-top: 68px;
margin-bottom: 14px;
font-family: 'Montserrat', sans-serif;
color: #333333;
}


.img {
    border-radius: 50%;
    border: 3px solid transparent;
    margin-bottom: 20px;
}



.icon-wrapper {
  
    position: relative;
    left: 62%;
    top: -60px;
    transform: translate(-50%, 0);
    width: 33px;
    height: 33px;
    padding: 8px; 
    border-radius: 50%;
    background-color: #ff4e50;
    border: 3px solid #ffffff;
}

.icon-wrapper2 {
    position: relative;
    left: 62%;
    top: -60px;
    transform: translate(-50%, 0);
    width: 33px;
    height: 33px;
    padding: 8px; 
    border-radius: 50%;
    background-color:  #ffa507;
    border: 3px solid #ffffff;
}
   
.icon-wrapper3 {
    position: relative;
    left: 62%;
    top: -60px;
    transform: translate(-50%, 0);
    width: 33px;
    height: 33px;
    padding: 8px; 
    border-radius: 50%;
    background-color: #1cd7ad;
    border: 3px solid #ffffff;
}

.icon-wrapper4 {
    position: relative;
    left: 62%;
    top: -60px;
    transform: translate(-50%, 0);
    width: 33px;
    height: 33px;
    padding: 8px; 
    border-radius: 50%;
    background-color: #4e73db;
    border: 3px solid #ffffff;
}





.img_wrapper {
  border: 4px solid #ffffff;
           } 



 

.tv {
    position: relative;
    left: 48%;
    top: -3px;
    transform: translate(-50%, 0);
width: 17px;
height: 17px;
 
}

.colb {
    position: relative;
    left: 50%;
    top: -4px;
    transform: translate(-50%, 0);
    width: 17px;
height: 17px;
 
}

.coffe {
    position: relative;
    left: 47%;
    top: -4px;
    transform: translate(-50%, 0);
  width: 17px;
  height: 17px;
   
}

.telegram {
    position: relative;
    left: 43%;
    top: -3px;
    transform: translate(-50%, 0);
    width: 17px;
height: 17px;
 
} 




.text {
    margin-bottom: 29px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 200;
    color: #333333;
   font-size: 14px;
}





.tittle_img {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 16px;
    color: #333333;
}



.wrapper-text {
    position: relative;
  
  
 
    transform: translate(0%, -60%);
}



.wrapper-text-for-heather {
    position: relative;
  
  
 
   transform: translate(0%, -30%);
}


 
@media screen and (min-width: 768px) {
    
    .meet {
        margin-bottom: 31px;
    }
 
     
    .section-wrapper {
        display: flex;
        justify-content: space-between;
       
        align-items: center;
        margin: 0 auto;
        width: 500px;
        height: 500px;
    }

.Hunter {
    position: relative;
    left: 20%;
    top: -20%;
    transform: translate(-50%, 0%);
}
 

        .Heather {
            display: flex;
            flex-direction: column;
            position: relative;
            left: -3%;
           top: -21%;
            transform: translate(-50%, 6%);
        }

.Lucas {
    position: relative;
    left: -20%;
    top: 40%;
    transform: translate(-50%, 0%);
}

.Bradley {
    position: relative;
    left: -48%;
    top: 40%;
    transform: translate(-50%, 0%);
}

 


.one {
width: 194px;
height: 29px;
}

.two {
    width: 211px;
    height: 31px;
}

.three {
    width: 216px;
    height: 62px;
}

.four {
    width: 194px;
    height: 29px;
}





.icon-wrapper {
  
    position: relative;
    left: 72%;
  
   
}

.icon-wrapper2 {
    position: relative;
    left: 72%;
  
 
  
}
   
.icon-wrapper3 {
    position: relative;
    left: 72%;
  
  
  
}

.icon-wrapper4 {
    position: relative;
    left: 72%;
   
   
  
}


.wrapper-text {
    position: relative;
  
  
 
    transform: translate(0%, -60%);
}



.wrapper-text-for-heather {
    position: relative;
  
  
 
   transform: translate(0%, -30%);
}


}




@media screen and (min-width: 1200px) {
    .section-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 970px;
        height: 230px;
    }


    .meet {
       
        margin-bottom: 70px;
        
        }

       
.Hunter {
    position: relative;
    left: 15%;
    
    transform: translate(-50%, 0%);
}
 

        .Heather {
            display: flex;
            flex-direction: column;
            position: relative;
            left: -13%;
       
            transform: translate(-50%, 6%);
        }

.Lucas {
    position: relative;
    left: 16%;
    
    transform: translate(50%, -48%);
}


.Bradley {
    position: relative;
    left: -12%;
    
    transform: translate(50%, -48%);
}
 



.one {
width: 194px;
height: 29px;
}

.two {
    width: 211px;
    height: 31px;
}

.three {
    width: 216px;
    height: 62px;
}

.four {
    width: 194px;
    height: 29px;
}





.icon-wrapper {
  
    position: relative;
    left: 72%;
  
   
}

.icon-wrapper2 {
    position: relative;
    left: 72%;
  
 
  
}
   
.icon-wrapper3 {
    position: relative;
    left: 72%;
  
  
  
}

.icon-wrapper4 {
    position: relative;
    left: 72%;
   
   
  
}

.wrapper-text {
    position: relative;
  
  
 
   transform: translate(0%, -60%);
}


.wrapper-text-for-heather {
    position: relative;
  
  
 
   transform: translate(0%, -30%);
}

.tittle_img {
    font-size: 14px;
}

}