.video {
    background-color: #31d4e7;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* height: 450px; */
    justify-content: space-around;
    
}
 


 

 
.video__title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
   color: #000000;
   margin: 0 auto;
     font-size: 18px;
padding-bottom: 25px;
    line-height: 18px;
    text-align: center;
    padding-top: 60px;
    text-transform: uppercase;

}
 

.video__iframe_container {
    /* width: 285px;
    height: 217px; */
    margin: 0 auto;
    margin-bottom: 60px;
}
 
.video__iframe {
    border-radius: 6px;
    width: 285px;
    height: auto;
}
 
 
.video__intro {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
     color:#ffff;
   
    margin: 0 auto;
    padding: 0 40px 0 40px;
    font-size:14px;
  margin-bottom: 60px;
    line-height: 26px;
}

.video__icon {
  width: 165px;
  height: 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   margin: 0 auto;
   margin-bottom: 38px;
}


.video__icon-wrapper1 {
        display: flex;
            justify-content: center;
            align-items: center;
            width: 75px;
            height: 75px;
            border-radius: 50%;
          background-color: #0098cd ;
}

.video__icon-wrapper2 {
    display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        border-radius: 50%;
      background-color: #0098cd;
}




@media screen and (min-width: 768px) {
   
     
   
     
    .video {
        display: flex;
        flex-direction: column;
       
    }
     
    .video__title {
        
     
         font-size:30px;
       
        padding-top: 100px;
      
    }     
     
    .video__intro {
     
       padding: 10px 130px  0 130px;
     margin-bottom: 31px;
    }

    .video__icon {
        margin-bottom: 55px;
    }

    .video__iframe {
        width: 500px;
        height: auto;
     
        
    } 

    .video__iframe_container {
      margin-bottom: 60px;
    }
    
}
 



@media screen and (min-width: 1200px) {
  
     
  
     
    .video {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 450px;
        justify-content: space-around;
        
    }
     
    .video__title {
  
        text-align: left;
        padding-top: 95px;
       margin-left: 50px;
    }
     
    
   .video__intro {
       /* margin-left: 50px;
       padding-left: 10px; */
       padding-bottom: 30px;
        /* height: 100px;
       width: 600px;  */
       padding: 0px 600px 0 50px;
     display: inline-block;
    margin-bottom: 32px;
    font-weight: 100;
    text-align: left;
   }

   .video__icon {
       padding-top: 20px;
       margin-bottom: 90px;
       text-align: left;
       margin-left: 50px;
   }


   .video__iframe_container {
       width: 500px;
       height: auto;
     margin-left: 40px;
     margin-top: 40px;
     position: relative;
     right: 50%;
     
   } 
   
   
}